@import "../../sass/variables" ; 
@import "../../sass/mixins" ; 


.category { 
    padding-top : 10rem  ;
    padding-bottom : 10rem  ; 
    overflow: hidden  ; 
    font-family: $f-raleway ;
    @include setleftrightpadding; 
 
     .heading { 
         font-size : 3rem ; 
         font-weight :300 ;
         margin-bottom : 5rem ;
     }
 
     .contents { 
         display : grid ; 
         grid-template-columns: repeat(3 , 1fr  ); 
         grid-auto-rows: 420px;
         grid-row-gap: 8rem ; 
         grid-column-gap : 4rem ; 
         
       
     }
 }